/* Alberto Núñez García - UO258455*/
body { /* a = 0 ; b = 0 ; c = 1*/
    font: 100% Tahoma, sans-serif; /*Familia sans-serif*/ /*400 15px*/ 
    line-height: 1.8;
    color: #030101;
    background-color:#fefefe;
}
h1,h2,h3,nav{/* a = 0 ; b = 0 ; c = 1 */
    background-color:#fecece;
    color: rgb(0, 0, 0);
    border-radius: 0.6em;
}
h1 { /* a = 0 ; b = 0 ; c = 1 */
    text-transform: uppercase;
    text-align: center;
    background-position: center;    
}
h2,h3 { /* a = 0 ; b = 0 ; c = 1 */
    text-align: left;    
    padding: 0.2% 3%; 
}
nav { /* a = 0 ; b = 0 ; c = 1 */
    padding: 1% 1%;
}
nav a{
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-decoration-line: none;
}
p, audio, video{ /* a = 0 ; b = 0 ; c = 1 */
    padding: 0.2% 3%
}
table{ /* a = 0 ; b = 0 ; c = 1 */
    border-collapse: collapse;
    border-radius: 0.6em;
    width: 85%;
    margin-left: 3%;
    margin-right: auto;
}
table, th, td{ /* a = 0 ; b = 0 ; c = 1 */
    text-align: center;
}
th{ /* a = 0 ; b = 0 ; c = 1 */
    background-color: #670000;
    color: rgb(255, 255, 255);
}
tr { /* a = 0 ; b = 0 ; c = 1 */
    background-color: #fab3b3;
    color: black;
}
dt{/* a = 0 ; b = 0 ; c = 1 */
    font-weight: bold;
    padding: 0.2%; 
}
video,img{/* a = 0 ; b = 0 ; c = 1 */
    max-width: 100%; 
    height: auto; 
}
