h2{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
}
input{
    grid-column: span 5;
    font-size: xx-large;
    font-weight: bold;
    background-color: aquamarine;
}